@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    /* background-color: #202A31; */
     background: url('https://res.cloudinary.com/dofovybxu/image/upload/v1740204899/background_argxo0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
    min-height: 100vh; 
    height: 100%;
    position: relative;
}


.active{
    text-decoration:  overline;
}

.home{
    animation: fade 2s forwards ease-in;
}

@keyframes fade{
    0%{
        opacity: 0;
        /* transform: translateX(-100%); */
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.bar{
    animation: pbar 3s forwards ease-in;
    animation-delay: .5s;
}

@keyframes pbar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


::-webkit-scrollbar {
    width: 15px; /* For vertical scrollbar */
    height: 5px; /* For horizontal scrollbar */
    background-color: #000; /* Background of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #f1f1f1; /* Color of the thumb */
    height: 20px;
    border-radius: 10px; 
    border: 5px solid #000; /* Adds padding around the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #000; /* Background of the track */
    /* border-radius: 10px; */
}

/* Style the scrollbar buttons (optional) */
::-webkit-scrollbar-button {
    display: none;
    /* background-color: #ccc; */
    /* border-radius: 5px; */
}

/* Style the corner between horizontal and vertical scrollbar */
::-webkit-scrollbar-corner {
    background-color: #b0b0b0;
}