@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    /* background-color: #202A31; */
     background: url('https://res.cloudinary.com/dofovybxu/image/upload/v1740204899/background_argxo0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    min-height: 100vh; 
    /* position: relative; */
}
/* body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
} */

.active{
    text-decoration:  underline;

}

.home{
    animation: fade 2s forwards ease-in;
}

@keyframes fade{
    0%{
        opacity: 0;
        /* transform: translateX(-100%); */
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        /* transform: translateY(0); */
    }
}

.bar{
    animation: pbar 3s forwards ease-in;
    animation-delay: .5s;
}

@keyframes pbar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}